*.pdf filter=lfs diff=lfs merge=lfs -text
ספרים/*.pdf !text !filter !merge !diff
ספרים/ספרים[[:space:]]חדשים[[:space:]]מותאמים[[:space:]]לאוצריא[[:space:]]-[[:space:]]לבדיקה/קובץ/קובץ[[:space:]]מסכת[[:space:]]כתובות.txt filter=lfs diff=lfs merge=lfs -text
ספרים/ספרים[[:space:]]חדשים[[:space:]]מותאמים[[:space:]]לאוצריא[[:space:]]-[[:space:]]לבדיקה/קובץ[[:space:]]מפרשים/קובץ[[:space:]]מפרשים[[:space:]]מסכת[[:space:]]בבא[[:space:]]מציעא.txt filter=lfs diff=lfs merge=lfs -text
ספרים/ספרים[[:space:]]חדשים[[:space:]]מותאמים[[:space:]]לאוצריא[[:space:]]-[[:space:]]לבדיקה/קובץ/קובץ[[:space:]]קידושין[[:space:]]פסחים[[:space:]]סנהדרין[[:space:]]ברכות[[:space:]]עירובין.txt filter=lfs diff=lfs merge=lfs -text
ספרים/תלמוד[[:space:]]בבלי/ראשונים/קובץ/*.txt filter=lfs diff=lfs merge=lfs -text
